<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project001.dao.AuthDao">
	
	<!-- 3. UserDto의 List를 끌고가려면 처리해야 하는 과정 -->
	<resultMap type="AuthDto" id="authMap"> 
		<id      property="userid" column="userid" /> 
		<result  property="auth"   column="auth" />
	</resultMap>
	
	<!-- 2. resultMap type에는 전체 데이터를 포함하는 Dto를 불러오기 -->
	<resultMap type="UserDto" id="userMap">
		<id         property="userid"   column="userid" /> <!-- id: 기본키 property: UserDto 변수명 column: 테이블상의 필드명  -->
		<result     property="pw"   column="userpw" />  <!-- result: mapping되는 필드 -->
		<collection property="authList" resultMap="authMap" />
	</resultMap>

	<select resultMap="userMap" id="readAuth" parameterType="UserDto">
		select m.userid , userpw, auth
		from users m LEFT JOIN authorities a ON m.userid=a.userId
		where m.userid= #{userid} 
	</select>

</mapper>